services:
  rabbitforexapi:
    image: rabbitcompany/rabbitforexapi:latest
    container_name: rabbitforexapi
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - WISE_API_KEY
      - UPDATE_INTERVAL
      - USE_KRAKEN
      - USE_BINANCE
      - USE_GATEIO
      - USE_KUCOIN
      - USE_BINGX
      - USE_BYBIT
      - USE_CRYPTOCOM
      - USE_BITFINEX
      - CRYPTO_UPDATE_INTERVAL
      - ENABLED_CRYPTOS
      - LOGGER_LEVEL
      - PROXY
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
