---
strategy: polling
no_screen_padding: 'no'
dark_mode: 'no'
static_data: ''
polling_verb: get
polling_url: "https://forex.rabbitmonitor.com/v1/rates/{{ base_currency | upcase}}\r\nhttps://forex.rabbitmonitor.com/v1/metals/rates/{{ base_currency | upcase}}\r\nhttps://forex.rabbitmonitor.com/v1/crypto/rates/{{ base_currency | upcase}}\r\nhttps://forex.rabbitmonitor.com/v1/stocks/rates/{{ base_currency | upcase}}"
polling_headers: ''
polling_body: ''
id: 182766
custom_fields:
- keyname: about
  field_type: author_bio
  name: RabbitForex
  category: finance,analytics
  description: Real time exchange rate data.
  learn_more_url: https://rabbit-company.com
  github_url: https://github.com/Rabbit-Company/RabbitForexAPI
  email_address: info@rabbit-company.com
- keyname: base_currency
  field_type: select
  name: Display Currency
  description: Select the currency in which you want prices to appear.
  options:
  - AED
  - AFN
  - ALL
  - AMD
  - ANG
  - AOA
  - ARS
  - AUD
  - AWG
  - AZN
  - BAM
  - BBD
  - BDT
  - BGN
  - BHD
  - BIF
  - BMD
  - BND
  - BOB
  - BRL
  - BSD
  - BTN
  - BWP
  - BYN
  - BZD
  - CAD
  - CDF
  - CHF
  - CLP
  - CNY
  - COP
  - CRC
  - CUC
  - CUP
  - CVE
  - CZK
  - DJF
  - DKK
  - DOP
  - DZD
  - EGP
  - ERN
  - ETB
  - EUR
  - FJD
  - FKP
  - GBP
  - GEL
  - GGP
  - GHS
  - GIP
  - GMD
  - GNF
  - GTQ
  - GYD
  - HKD
  - HNL
  - HRK
  - HTG
  - HUF
  - IDR
  - ILS
  - IMP
  - INR
  - IQD
  - IRR
  - ISK
  - JEP
  - JMD
  - JOD
  - JPY
  - KES
  - KGS
  - KHR
  - KMF
  - KPW
  - KRW
  - KWD
  - KYD
  - KZT
  - LAK
  - LBP
  - LKR
  - LRD
  - LSL
  - LYD
  - MAD
  - MDL
  - MGA
  - MKD
  - MMK
  - MNT
  - MOP
  - MRU
  - MUR
  - MVR
  - MWK
  - MXN
  - MYR
  - MZN
  - NAD
  - NGN
  - NIO
  - NOK
  - NPR
  - NZD
  - OMR
  - PAB
  - PEN
  - PGK
  - PHP
  - PKR
  - PLN
  - PYG
  - QAR
  - RON
  - RSD
  - RUB
  - RWF
  - SAR
  - SBD
  - SCR
  - SDG
  - SEK
  - SGD
  - SHP
  - SLE
  - SLL
  - SOS
  - SRD
  - STN
  - SVC
  - SYP
  - SZL
  - THB
  - TJS
  - TMT
  - TND
  - TOP
  - TRY
  - TTD
  - TWD
  - TZS
  - UAH
  - UGX
  - USD
  - UYU
  - UZS
  - VEF
  - VES
  - VND
  - VUV
  - WST
  - XAF
  - XCD
  - XCG
  - XOF
  - XPF
  - YER
  - ZAR
  - ZMW
  - ZWL
  default: usd
  multiple: false
- keyname: metal_unit
  field_type: select
  name: Metal Unit
  description: Select the unit in which you want metal weights to be displayed.
  options:
  - Troy ounce
  - Grams
  default: troy_ounce
  multiple: false
- keyname: fiat_assets
  field_type: multi_string
  name: Fiat Assets
  description: List of fiat assets you want to monitor
  placeholder: EUR
- keyname: metal_assets
  field_type: multi_string
  name: Metal Assets
  description: List of metal assets you want to monitor
  placeholder: GOLD
- keyname: crypto_assets
  field_type: multi_string
  name: Crypto Assets
  description: List of crypto assets you want to monitor
  placeholder: BTC
- keyname: stock_assets
  field_type: multi_string
  name: Stock Assets
  description: List of stock assets you want to monitor
  placeholder: UBNT
name: RabbitForex
refresh_interval: 15
